body {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    background-color: #333333;
}
.tile {
    box-sizing: border-box;
    border-style: solid;
    border-width: 0.5px;
    border-color: black;
}

#container {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: 600px;
    background-color: #ffffff;
}

.tile-hover {
    background-color: royalblue;
}

button {
    width: 600px;
}