body {
    display: flex;
    justify-content: center;
    background-color: #333333;
}
.tile {
    border-style: solid;
    border-width: 0.5px;
    border-color: black;
    flex-basis: calc(6.25% - 1px)
}

#container {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: 600px;
    background-color: #ffffff;
}

.tile-hover {
    background-color: royalblue;
}